* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

ul,li {
	list-style: none;
}

header {
	height: 80px;
	border-bottom: 1px solid #ddd;
}

header .logo {
	float: left;
	margin-top: 25px;
	margin-left: 30px;

}

header .gnb {
	float: right;

}

header .gnb li{
	margin-top: 30px;
	margin-right: 89px;
	display: inline-block;
}

header .container {
	position: absolute;
	left: 50%;
	margin-top: 15px;
	transform: translate(-50%);	
}

header .box {
	background-color: #eee;
	width: 330px;
	height: 50px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: opx 25px;
}

header .box input{
	width: 240px;
	border: none;
	outline: none;
	background: none;
	font-size: 20px;
}

header .box input::-webkit-search-decoration,
	   		input::-webkit-search-cancel-button,
			input::-webkit-search-results-button,
			input::-webkit-search-results-decoration{
				opacity:0;
				position: absolute;
				right:0;
			}

header .box span {
	margin-left: 30px;
	width: 40px;
	height: inherit;
	background: url(https://img.icons8.com/pastel-glyph/2x/cancel.png) center center no-repeat;
	background-size: 55%;
	outline: none;
	cursor: pointer;
	pointer-events: none;
}

header .box input[type=search] {
	margin-left: 20px;
}

header .fa-magnifying-glass:hover{
	color: skyblue;
	cursor: pointer;
}

header .fa-magnifying-glass {
	margin-right: 15px;
}

.action {
	position: fixed;
	top:23px;
	right: 30px;
}

.action img {
	width: 30px;
	height: 30px;
}

.action .menu {
	position: absolute;
	top: 40px;
	right: 0px;
	padding: 10px 30px;
	background: #f5f5f5;
	width: 200px;
	box-sizing: 0 5px 25px rgba(0,0,0,0.1);
	transition: 0.1s;
	border-radius: 15px;
	visibility: hidden;
	opacity: 0;
}

.action .menu.active {
	visibility:visible;
	opacity:1;
}

.action. .menu.close {
	visibility:hidden;
	opacity: 0;
}

.action .menu ul li {
	list-style: none;
	padding: 10px 0;
	border-top: 1px solid rgba(0,0,0,0,05);
	direction:flex;
	align-items: center;
	justify-content: center;
}

.action .menu ul li a {
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	transition: 0.1s
}

.action .menu ul li:hover a{
	color: purple;
}

.section {
	position: relative;
	padding: 120px 0;
}

.pla_container {
	width:1160;
	padding: 25px 250px;
	margin: 0 auto;
	min-width: 1160px
}

img {
	display: block;
	width:130px;
	height: 130px;
}


h2 {
	font-size: 50px;
	line-height: 1;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 70px;
}

.ir{
	display:block;
	overflow:hidden;
	font-size:0;
	line-height: 0;
	text-indent:-9999px;
}

.planet {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.planet .card {
	width: 10%;
	position: relative;
	margin: 40px;
	background-color:#f5f5f5;
}

.planet .blank {
	width: 10%;
	position: relative;
	margin: 40px;
	background-color: white;
}

.planet .card:first-child {
	margin-bottom: 50px;
}

.card img{
	margin-bottom: 20px;
	margin-left: 1.7px;
	border-radius: 70px;;
}

.card .tit{
	font-size: 20px;
	margin-bottom: 10px;
	text-align: center;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.wrapperLogin {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.wrapper {
	position: relative;
	width:400px;
	height: 440px;
	background: transparent;
	background-color: white;
	border: 2px solid rgba(255,255,255,.5);
	border-radius:20px;
	box-Shadow: 0 0 30px rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transform: scale(0);
	transition: transform .5 ease, height .2s ease;
}

.wrapper.active-popup {
	transform: scale(1);
}

.wrapper.active {
	height: 520px;
}

.wrapper .form-box {
	margin-bottom: 5px;
	width: 100%;
	padding: 40px;
}

.wrapper .form-box.login {
	transition: transform .18s ease;
	transform: translateX(0);
}

.wrapper.active .form-box.login {
	transition: none;
	transform: translateX(-400px);
}

.wrapper .form-box.register {
	position: absolute;
	width: 80%;
	transition: none;
	transform: translateX(400px);
}

.wrapper.active .form-box.register {
	transition: transform .18s ease;
	transform: translateX(0);
}

.wrapper .icon-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	top: 45px;
	background: #162938;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	z-index: 1;
}

.form-box h2 {
	font-size:2em;
	color: #162938;
	text-align: center;
}

.input-box {
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #162938;
	margin: 30px 0;
}

.input-box label {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 1em;
	color: #162938;
	font-weight:500;
	pointer-events: none;
	transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
	top: -5px;
}

.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size:1em;
	color: #162938;
	font-weight: 600;
	padding: 0 35px 0 5px;
}

.input-box .icon {
	position: absolute;
	right: 8px;
	font-size:1.2em;
	color: #162938;
	line-height: 57px;
}

.remember-forgot{
	font-size: .9em;
	color: #162938;
	font-weight:500;
	margin: -15px 0 15px;
	display: flex;
	justify-content: space-between;
}

.remember-forgot label input {
	accent-color: #162938;
	margin-right: 3px;
}

.remember-forgot a {
	color: #162938;
	text-decoration: none;
}

.remember-forgot a:hover {
	text-decoration: underline;
}

.btn {
	width: 100%;
	height: 45px;
	background: #162938;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1em;
	color: #fff;
	font-weight: 500;
}

.login-register {
	font-size: .9em;
	color: #162938;
	text-align: center;
	font-weight: 500;
	margin: 20px 0 10px;
}

.login-register p a {
	color: #162938;
	text-decoration: none;
	font-weight: 600;
}

.login-register p a:hover {
	text-decoration: underline;
}
