.cate-Part {
	width:55%;
	height: 150px;
	min-width:1300px;
	margin:0 auto;
	display:flex;
	justify-content:center;
	position:relative;
	margin-top:-20px;
}

.cate-mainText {
	display:flex;
}

.cate-mainText h3 {
	color:white;
}

.cateName{
	width:130px;
	height:60px;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:20px;
	margin:5px 20px;
	font-size:25px;
	cursor:pointer;
	background-color: #eee;
}

.cateName:hover{
	background-color:black;
}

.drop-menu {
	width:210px;
	height: 210px;
	display:flex;
	justify-content:center;
	align-items:center;
	border: 2px solid #FF69B4;
	padding:5px;
	margin-top:285px;
	margin-right:-110px;
	position:absolute;
	background-color:white;
	display:none;
	overflow:hidden;
	border-radius:10px;
}

.drop-menu.active {
	display:flex;
	animation-name:slide-fade-in-dropdown-animation;
	animation-duration:0.5s;
}

@keyframes slide-fade-in-dropdown-animation{
	0% {
		margin-top:77px;
		height: 0;
	}
	100% {
		height:210px;
	}
}

.drop-menu li {
	margin:20px;
	font-size: 35px;
	cursor:pointer;
	color:grey;
}

.drop-menu li:hover {
	color:black;
}

.drop-menu-title {
	margin-left:40px;
	cursor:pointer;
	color:#FF69B4;
}

.cate-List-Text {
	width:55%;
	height:70px;
	min-width:1300px;
	margin:auto;
	font-size:25px;
	list-style:none;
	display:flex;
	align-items:center;
	justify-content:right;
	margin-bottom:-50px;
}

.cate-List-button {
	width:6%;
	height:100%;
	justify-content:center;
	display:flex;
	align-items:center;
	border-radius:10px;
	cursor:pointer;
}

.cate-List-button p:hover,
.cate-List-button.active{
	color:black;
	font-weight:600;
}

.btn-color {
	color:grey;
	font-size:20px;
}

.btn-color.active {
	color:black;
	font-weight: 600;
}

.cate-List-button:visited {
	color:#FF69B4;
	cursor:pointer;
}

.middle-line {
	width:1px;
	height:40%;
	border:1px solid grey;
	margin:10px;
}


.List-List {
	width: 55%;
	min-width: 1300px;
	height: 500px;
	margin:auto;
	display:flex;
	align-items:center;
	justify-content:center;
}

.List-in-List {
	width: 20%;
	height: 350px;
	background-color: green;
	float:left;
	margin: 25px;
}

.List-Img {
	width:100%;
	height:90%;
	float:left;
}

.List-Text {
	padding:9px;
	text-align:center;
	width:100%;
	height:20%;
	float:left;
}

.List-Text p {
	word-break:break-all;
	word-wrap:normal;
}
