.cate-Part {
	width:55%;
	height: 200px;
	min-width:1300px;
	margin:0 auto;
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
}

.cate-mainText {
	display:flex;
	align-items:center;
	font-size:45px;
}

.drop-menu {
	width:185px;
	height: 200px;
	display:flex;
	align-items:center;
	justify-content:center;
	border: 1px solid #FF69B4;
	padding:5px;
	margin-top:275px;
	margin-right:-97px;
	position:absolute;
	background-color:white;
	display:none;
}

.drop-menu li {
	margin:15px;
	font-size: 40px;
	cursor:pointer;
}

.drop-menu-title {
	margin-left:20px;
	cursor:pointer;
	color:#FF69B4;
}

.cate-List-Text {
	width:55%;
	height:50px;
	min-width:1300px;
	margin:auto;
	font-size:25px;
	list-style:none;
	display:flex;
	align-items:center;
	justify-content:center;
}

.cate-List-button {
	width:10%;
	height:100%;
	justify-content:center;
	display:flex;
	align-items:center;
	border-radius:10px;
	cursor:pointer;
}

.cate-List-button p:hover,
.cate-List-button.active{
	color:#FF69B4;
}

.btn-color.active {
	color:#FF69B4;
}

.cate-List-button:visited {
	color:#FF69B4;
	cursor:pointer;
}

.middle-line {
	width:1px;
	height:50%;
	border:1px solid black;
	margin:10px;
}
