.partyPage {
	margin:auto;
}

.pagePoster-container {
	width:55%;
	min-width:1100px;
	height:610px;
	margin:0 auto;
	margin-top:50px;
	padding:10px;
	left:50%;
}

.pagePosterImg{
	width: 50%;
	height: 600px;
	display:flex;
	justify-content:center;
	align-items:center;
	float:left;
	border-right:1px solid black;
}

.pagePoster-explain {
	width: 50%;
	height: 300px;;
	float:left;
}

.posterImg {
	height:600px;
	width:500px;
}

.pagePoster-title {
	width: 80%;
	background-color:white;
	height:90px;
	margin:30px auto;
	margin-bottom:0;
	display:flex;
	align-items:center;
	justify-content:center;
}

.pagePoster-title p {
	font-size:50px;
	font-weight: 600;
}

.pagePoster-subtitle {
	width: 80%;
	background-color:white;
	height:50px;
	margin:auto;
	display:flex;
	align-items:center;
	justify-content:center;
}

.pagePoster-subtitle p {
	font-size: 25px;
	color:gray;
}



.pagePoster-explain-team {
	width: 80%;
	height:50px;
	margin:auto;
	justify-content:center;
	display:flex;
	align-items:center;
}

.pagePoster-explain-team p {
	font-size: 20px;
	font-weight:500;
}

.pagePoster-explain-day {
	width:80%;
	height:50px;
	margin:auto;
	justify-content:center;
	display:flex;
	align-items:center;
}
.pagePoster-explain-place {
	width:80%;
	height:40px;
	margin:auto;
	justify-content:center;
	display:flex;
	align-items:center;
}

.pagePoster-explain-place span {
	color:#f84e86;
}

.pagePoster-ticket {
	width:50%;
	float:left;
	display:flex;
	justify-content:center;
}

.ticketBox {
	width: 550px;
	height:300px;
	padding:20px;
	border-radius: 20px;
}

.ticketBtn {
	width: 80%;
	height:50px;
	margin:auto;
	padding:40px;
	border-bottom: 2px dashed black;
	display:flex;
	align-items:center;
	justify-content:center;
}

.ticketBtn h1 {
	font-size: 35px;	
}

.ticketBox-ticket {
	width: 80%;
	height: 40px;
	display:flex;
	align-items: center;
	padding:30px;
	margin:25px auto;
	border-radius:10px;
	background-color:#eee;
}

.ticketBox-ticket:hover {
	background-color:#c2c2c2;
	cursor:pointer;
}

.ticketBox-ticket:active {
	position:relative;
	background-color:#c2c2c2;
	top:2px;
}

.ticketBox-ticket p {
	margin-left:10px;
}

.ticketBox-ticket label:hover {
	font-weight:500;
}
.ticketBox-ticket label {
	font-size: 20px;
	display:flex;
	align-items:center;
	margin-left:-20px;
	cursor:pointer;
}

.ticketBox-ticket input[type="checkbox"] {
	width:30px;
	height:20px;
	accent-color:black;
}

.ticketing {
	width:50%;
	height:80px;
	float:right;
	display:flex;
	justify-content:center;
	align-items:center;
}
.ticketing-explain {
	width:50%;
	height:170px;
	float:left;
}

.ticketing-Btn {
	width: 300px;
	height: 60px;
	border-radius:15px;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	border:2px solid #f84e86;
	font-weight: 500;
	transition-duration:0.3s;
}

.ticketing-Btn:active {
	cursor:pointer;
	position:relative;
	top: 2px;
	background-color:#ff78b4;
}

.ticketing-Btn:hover {
	background-color:#f84e86;
}

.ticketing-Btn p {
	font-size:20px;
}

.ticket-display {
	width:50%;
	height:90px;
	float:right;
}

.totalPrice {
	height:50px;
	width:25%;
	float:right;
	display:flex;
	align-items:center;
}

.totalPrice-in{
	height:50px;
	width:40%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.totalPrice-explain {
	height:50px;
	width:25%;
	float:right;
	display:flex;
	align-items:center;
	justify-content:right;
}

.totalPrice-explain p {
	font-size:20px;
	margin-right:10px;
}
.totalPrice span {
	font-size:30px;
	font-weight:600;
}

.totalPrice p {
	font-size:25px;
	color:grey;
}

.ticketMain {
	width:55%;
	min-width:1100px;
	height:230px;
	margin:auto;
}


.pageExplain-container {
	width:55%;
	min-width:1100px;
	height:800px;
	margin: auto;
	display:flex;
	justify-content:center;
	align-items:center;
}

.pageExplain {
	width:90%;
	height:95%;
	background-color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#eee;
}
